body{
    margin: 0;
    background: url(background.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background: #fff;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.taskAria{
    border: 1px solid lightgrey ;
}
.taskTabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.taskTabs div {
    padding: 1em;
}
#underLine{
    width: 80px;
    height: 4px;
    background-color: pink;
    position: absolute;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}