body{
    margin: 0;
    background: url(background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}
.container{
    background: #fff;
    min-height: 100vh;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    padding: 20px;
    max-width: 800px; 
    margin: 0 auto; 
}
.taskAria{
    margin-top: 1rem;
    border: 1px solid lightgrey ;
}
.taskTabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.taskTabs div {
    padding: 1em;
    border-radius: 4px;
}
#underLine{
    width: 80px;
    height: 4px;
    background-color: pink;
    position: absolute;
    left: 0px;
    top: 52px;
    bottom: -1px;
    padding: 0px;
    transition: all 0.2s ease-in-out;
}
.btnNone{
    background: none;
    border: none;
    transition: transform 0.1s ease;
}
.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.taskDone{
    text-decoration: line-through;
    background: #eeeeee;
    padding: 5px;
    width: 85%;
}
.taskTabs div{
    cursor: pointer;
}
